/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth font setup */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links reset */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons default remove outline */
button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Root div (where React mounts) */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
